* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    padding: 10px;
    font-size: 30px;
}

.box {
    padding: 2rem;
    /* font-size: 10px; */

}

.box p {
    font-size: 1rem;
}